.popup__input-error {
  display: none;
  margin: 5px 0 0 38px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: red;
}

@media screen and (max-width: 767px) {
  .popup__input-error {
    margin: 5px 0 0 24px;
 }
}
