.popup__zoom__close {
  background-image: url(../../../images/popup__close.svg);
  width: 32px;
  height: 32px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.popup__zoom__close:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .popup__zoom__close {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    align-self: flex-end;
  }
}

