.footer {
  margin: 20vh 0 60px;
}

@media screen and (max-height: 999px) {
  .footer {
    width: 90%;
    margin: 5% auto 36px;
  }
}

@media screen and (max-width: 335px) {
  .footer {
    width: 90%;
    margin: 48px auto 36px;
  }
}
