.profile__button {
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  background-image: url(../../../images/profile__button1.svg);
  border: 1px solid white;
  padding: 11px;
  margin: 36px 0 0 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.profile__button:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 950px){
  .profile__button {
    margin: 31px 0 0 0;
    padding: 9px;
  }
}
@media screen and (max-width: 850px){
  .profile__button {
    margin: 29px 0 0 0;
    padding: 8px;
  }
}
@media screen and (max-width: 767px){
  .profile__button {
    width: 7.5px;
    height: 7.5px;
    margin: 6px 0 0 10px;
    justify-content: start;
  }
}

