.element__like {
  background-image: url(../../../images/element__like.svg);
  width: 22px;
  height: 19px;
  margin: 22px 0 3px;
  object-fit: contain;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.element__like:hover{
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
.element__like:active{
  background-image: url(../../../images/element__like_active.svg);
}
